<section>
    <nav class="nav collapsible">
      <div>
      <a href="/">
        <img src="images/site_logo.png" alt="logo images" />
      </a>
    </div>
    <div>
      <img
    src="images/toggle-zero.png"
    alt="toggler image"
    class="icon nav__toggler"
    id="menuToggle"
  />
</div>

     
      <ul class="list nav__list collapsible__content">
       
        <li class="nav__item"> <a href="#">DELIVERY | Quito - Cumbayá - Tumbaco - Puembo - Los Chillos</a>
         </li>
        <li class="nav__item"> 
          <a href="#">CALL-CENTER |   </a>
          <a href="#"> +593 2 392 2311  </a>
          </li>
        <li class="nav__item">
           <a href="#">WHATSAPP |   </a>
           <a href="#"> +593 2 392 2311  </a>
         </li>
      
      </ul>
      <ul class="list nav__list collapsible__content font">
       
        <li class="nav__item-1"> <a href="#">iNICIO  <span><</span></a>
          <ul class="sub-list">
              <li><a href="#">Sub-item 1</a></li>
              <li><a href="#">Sub-item 2</a></li>
          </ul></li>
        <li class="nav__item-1"> <a href="#">PRODUCTS <span><</span></a>
          <ul class="sub-list">
              <li><a href="#">Sub-item 1</a></li>
              <li><a href="#">Sub-item 2</a></li>
          </ul></li>
        <li class="nav__item-1"> <a href="#">MIS COMPRAS <span><</span></a>
          <ul class="sub-list">
              <li><a href="#">Sub-item 1</a></li>
              <li><a href="#">Sub-item 2</a></li>
          </ul></li>
        <li class="nav__item-1"><a href="#">BLOG</a></li>
        <li class="nav__item-1"><a href="#">NOSOTROS</a></li>
        <li class="nav__item-1"><a href="#">CONTACTENOS</a></li>
      </ul>
    </nav>
  </section>